* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

.HomeComponent {
  width: 100%;
}

.HomeComponent-in {
  width: 100%;
  background-color: black;
}

.Home-one {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


/* ------------------- Home About -----------------  */

.HomeAbout {
    width: 100%;
    background-color: rgb(245, 245, 247);
}

.HomeAbout-in {
    width: 90%;
    margin: auto;
    padding: 5rem 0rem;
    display: flex;
}

.HomeAbout-one {
    width: 50%;
}

.HomeAbout-one-one {
    width: 100%;
}

.HomeAbout-one-one p {
    color: rgb(67, 67, 67);
    font-weight: 600;
}

.HomeAbout-one-two {
    width: 100%;
    padding: 1rem 0rem;
}

.HomeAbout-one-two h1 {
    font-size: 3.5rem;
    line-height: 4rem;
}

.HomeAbout-one-two span {
    color: rgb(10, 119, 237);
}

.HomeAbout-two {
    width: 50%;
}

.HomeAbout-two-in {
    width: 90%;
    margin: auto;
}

.HomeAbout-card {
    width: 100%;
    border: 2px solid rgb(10, 119, 237);
    border-radius: 20px;
    background-color: white;
    padding: 2rem;
}

.HomeAbout-card p {
    color: rgb(67, 67, 67);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: left;
}

/* --------------------- Home Events ----------------- */

.HomeEvents {
    width: 100%;
    background-color: rgb(22, 22, 23);
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeEvents-in {
    padding: 5rem 0rem;
    width: 100%;
}

.HomeEvents-one {
    width: 90%;
    margin: auto;
}

.HomeEvents-one p {
    color: rgb(67, 67, 67);
    font-weight: 600;
}

.HomeEvents-two {
    width: 90%;
    margin: auto;
}

.HomeEvents-two h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(239, 239, 241);
}


.HomeEvents-three {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 2rem 0rem;
    overflow-x: auto;
}

.HomeEvents-four {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    gap: 1rem;
}

.scroll {
    color: rgb(0, 113, 227);
    cursor: pointer;
}

.Events-front {
    flex: 0 0 4%; 
    background-color: rgb(22, 22, 23);
}

.EventsBox {
    flex: 0 0 28%; 
    border-radius: 5px;
    background-color: black;
    color: white;
}

.EventCard-one {
    width: 100%;
}

.EventCard-one-in {
    width: 100%;
}

.EventCard-one-in img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.EventCard-two {
    width: 100%;
}

.EventCard-two-in {
    width: 100%;
    padding: 1rem;
}

.EventCard-two-in h1 {
    font-size: 1.5rem;
    color: rgb(10, 119, 237);
}

.EventCard-three {
    width: 100%;
}

.EventCard-three-in {
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}


.EventCard-thee-in p {
    font-size: 1.5rem;
}

.EventCard-four-in {
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.EventCard-four-in p {
    font-size: 1rem;
}

.EventCard-five {
    width: 100%;
}

.EventCard-five {
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.EventCard-five button {
    border: 1px solid rgb(10, 119, 237);
    border-radius: 10px;
    border-radius: 10px;
    background-color: black;
    padding: .5rem 1rem;
    color: rgb(10, 119, 237);
    font-size: 1rem;
}

.EventCard-five button:hover {
    background-color: rgb(10, 119, 237);
    color: white;
}

/* ------------------ Home Exclusive ----------------- */

.HomeExclusive {
    width: 100%;
    background-color: white;
}

.HomeExclusive-in {
    width: 90%;
    margin: auto;
    padding: 5rem 0rem;
    display: flex;
}

.HomeExclusive-in-one {
    width: 50%;
}

.HomeExclusive-in-two {
    width: 50%;
}

.HomeExclusive-in-one {
    width: 100%;
}

.HomeExclusive-in-one-one {
    width: 100%;
}

.HomeExclusive-in-one-one h1 {
    font-size: 4.5rem;
    line-height: 6rem;
    font-weight: 800;
}

.HomeExclusive-in-one-one h1 span {
    color: rgb(10, 119, 237);
}

.HomeExclusive-in-one-two {
    width: 70%;
    padding: 2rem 0rem;
}

.HomeExclusive-in-one-two h1 {
    width: 100%;
    color: rgb(67, 67, 67);
    font-size: 2.5rem;
    line-height: 4rem;
}

.HomeExclusive-in-two img {
    width: 100%;
    height: 100%;
}

/* ----------------- Home Faq's ----------------- */

.HomeFaq {
    width: 100%;
    background-color: white;
}

.HomeFaq-in {
    width: 100%;
    padding: 5rem 0rem;
}

.HomeFaq-in-one {
    width: 90%;
    margin: auto;
}

.HomeFaq-in-one-one {
    width: 100%;
}

.HomeFaq-in-one-one p {
    color: rgb(67, 67, 67);
    font-weight: 600;
}

.HomeFaq-in-one-two {
    width: 100%;
}

.HomeFaq-in-one-two h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: black;
}

.HomeFaq-in-two {
    width: 90%;
    margin: auto;
}

.HomeFaq-in-two-in {
    width: 100%;
    display: flex;
}

.HomeFaq-in-two-one {
    width: 40%;
}

.HomeFaq-find {
    width: 60%;
    padding: 4rem 0rem 0rem 0rem;
}


.HomeFaq-find p {
    color: rgb(67, 67, 67);
    font-weight: 600;
}

.HomeFaq-find h1 {
    padding: 1rem 0rem;
    color: black;
    font-size: 1.8rem;
}

.HomeFaq-icon {
    width: 100%;
}

.msg-icon {
    color: rgb(10, 119, 237);
    font-size: 5rem;
}

.HomeFaq-in-two-two {
    width: 60%;
}

.HomeFaq-in-two-two-in {
    width: 100%;
    padding: 4rem 0rem 0rem 0rem;
}

.HomeFaq-ques-component {
    width: 100%;
    border-bottom: 1px solid rgb(67, 67, 67);
    padding: 1rem 0;
}

.HomeFaq-ques {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 1rem;
}

.HomeFaq-ques h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}

.HomeFaq-ans {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, padding 0.3s ease-out;
}

.HomeFaq-ans-show {
    max-height: 200px; 
    padding: 1rem 0rem 0rem 0rem;
}

.HomeFaq-ans-hide {
    max-height: 0;
    padding: 0;
}

.icon {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    animation: rotate 0.3s ease-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.icon-close {
    font-size: 1.5rem;
    color: black;
    animation: rotate 0.3s ease-out;
}

.icon-active {
    transform: rotate(45deg);
}

/* ------------------- HomeCells -----------------  */

.HomeCells {
    width: 100%;
    background-color: rgb(22, 22, 23);
}

.HomeCells-in {
    width: 90%;
    margin: auto;
}

.HomeCell-one 



/* ----------------- HomeNewsLetter ----------------- */

.HomeNewsLetter {
    width: 100%;
    background-color: rgb(22, 22, 23);
}

.HomeNewsLetter-in {
    width: 100%;
    padding: 5rem 0rem;
}

.HomeNewsLetter-one {
    width: 100%;
}

.HomeNewsLetter-one-in {
    width: 50%;
    margin: auto;
    padding: 2rem;
}

.HomeNewsLetter-one-in h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
}   

.HomeNewsLetter-two {
    width: 100%;
}

.HomeNewsLetter-two-in {
    width: 65%;
    margin: auto;
    padding: 1rem;
}

.HomeNewsLetter-two-in p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}

.HomeNewsLetter-three {
    width: 100%;
    padding: 1rem;
}

.HomeNewsLetter-three-in {
    width: 46%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(71, 71, 71);
    padding: 0rem .5rem;
    border-radius: 10px;
    background-color: black;
}

.HomeNewsLetter-three-in input{
    width: 82%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
}

.HomeNewsLetter-three-in button {
    width: 18%;
    border: none;
    background-color: rgb(10, 119, 237);
    padding: .8rem 1rem;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}


